/22 Objects 2 Students/build/
/22 Objects 2 Students/nbproject/private/
/25 Objects 4 Worker/build/
/31 KissJGabi HF/nbproject/private/
/31 KissJGabi HF/build/
/31a HF/build/
/31a HF/nbproject/private/
/31b KissJGabi HF/build/
/31b KissJGabi HF/nbproject/private/